{% extends 'base.html' %}
{% load static %}

{% block body %}

  {% if not user.is_manager or user.is_manager and user.is_author or user.is_manager and user.is_administrator %}
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Создать
      </div>
      <ul class="list-group list-group-flush">
        {% if user.is_administrator %}
          <li class="list-group-item">
            <a class="nav-link" href="{% url 'accounts:create_user' %}">Новый пользователь</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="{% url 'chain:create_chain' %}">Новая цепочка</a>
          </li>
        {% endif %}
        {% if user.is_author %}
          <li class="list-group-item">
            <a class="nav-link" href="#">Новая идея</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}


  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Открыть
    </div>
    <ul class="list-group list-group-flush">
      {% if user.is_administrator %}
        <li class="list-group-item">
          <a class="nav-link" href="{% url 'accounts:users' %}">Пользователи</a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" href="{% url 'chain:chain_list' %}">Цепочки</a>
        </li>
      {% endif %}
      {% if user.is_manager %}
        <li class="list-group-item">
          <a class="nav-link" href="#">Идеи в работе</a>
        </li>
      {% endif %}
      {% if user.is_author and not user.is_administrator %}
        <li class="list-group-item">
          <a class="nav-link" href="{% url 'chain:chain_list' %}">Цепочки</a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" href="#">Идеи</a>
        </li>
      {% endif %}
      {% if user.is_author and user.is_administrator %}
        <li class="list-group-item">
          <a class="nav-link" href="#">Идеи</a>
        </li>
      {% endif %}
    </ul>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/ava_default.png' %}" class="card-img-top" alt="avatar">
    <div class="card-body">
      <h5 class="card-title"> {{ user.username }}</h5>
    </div>

    <ul class="list-group list-group-flush">
      <div class="card-header">Функции на сайте:</div>
      {% if user.is_administrator %}
        <li class="list-group-item"><a>Администратор</a></li>
      {% endif %}
      {% if user.is_manager %}
        <li class="list-group-item">Менеджер</li>
      {% endif %}
      {% if user.is_author %}
        <li class="list-group-item">Автор</li>
      {% endif %}
    </ul>

    <button class="btn btn-lg btn-primary btn-block user-button" type="button"
      onclick="location.href='{% url 'accounts:logout' %}'">Выйти
    </button>
  </div>
{% endblock %}